/**
 * @name akame
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --backgroundImage: url('https://i.imgur.com/Aw0pYZg.jpg ');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.65;
  --homeImage: url('https://i.pinimg.com/originals/9c/67/c7/9c67c7a7a55292cfbcb52560b154ac4e.gif');
  --homeImageSize: 200%;
  --themeColor1: #700000;
  --themeColor2: #000000;
  --customFont: Varela Round;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #7C1300;
  --rs-idle-color: #FF9F00;
  --rs-dnd-color: #FF0000;
  --rs-offline-color: #727272;
  --rs-streaming-color: #5E00FF;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


